<% if(!onCheckout) { %>
  <div class="clearfix">

  </div>
  <div class="basketBottomNavBdy">
    <a class="basketNxtStep2 right">
      <span class="buttonNavNext">
        <%= labels.goToRegister %>
        <!-- Gå til kassen -->
      </span>
    </a>
    <a class="basketUpdAll right">
      <span class="buttonUpdateBasket">
        <%= labels.updateBasket %>
        <!-- Opdater indhold -->
      </span>
    </a>
    <a class="basketClrAll right">
      <span class="buttonClearBasket">
        <%= labels.emptyBasket %>
        <!-- Tøm kurven -->
      </span>
    </a>
  </div>
<% } else { %>
  <div class="clearfix">

  </div>
  <a class="basketNxtStep2">
    <span class="buttonNavNext">
      <%= labels.goToPayment %>
      <!-- Gå til betaling -->
    </span>
  </a>
<% } %>
